.main-container {
    font-family: "roboto", sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

@mixin box-shadow {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.20);
}

@mixin bouton {
    border-radius: 35px;
    padding: 20px 10px 20px 10px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    width: 40%;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    @include box-shadow;

        & a {
            display: none;
        }
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    gap: 30px;
    background-color: #EAEAEA;
    width: 100%;
    @include box-shadow;

        & a {
            display: block;

            & a:visited {
                color: black;
            }
        }
        &__ville-selection {
            border: none;
            font-size: 1.8em;
            width: 290px;
            background-color: rgb(234, 234, 234);
            padding-top: 10px;
            padding-bottom: 10px;
        }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #eaeaea85;

        & h1 {
            font-size: 5.5vw;
            width: 60%;
            margin-bottom: 0;
        }
        & p {
            font-size: 4vw;
            width: 85%;
        }
}

.bouton {
    @include bouton;
}

.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    }

.boutons-filtres {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
}

.cards-bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &__chiffre {
        position: relative;
        left: 20px;
        bottom: -40px;
    }
    &__fonctionnement-number {
        display: inline;
        background-color: #9356DC;
        border-radius: 30px;
        color: white;
        padding: 10px 15px 10px 15px;
    }
    &__choix {
        display: flex;
        flex-direction: row;
        gap: 30px;
        color: black;
        text-decoration: none;
        font-size: 3vw;
        align-items: center;
        padding: 35px;
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 85%;
        @include box-shadow
    }
}

.espace-resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 75px 20px;
    box-sizing: border-box;
    gap: 20px;
    background-color: rgba(246, 246, 246, 1);
}

.resto-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    

    &__bouton-resto {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;

        &--text-nouveau {
            display: inline;
            position: absolute;
            right: 45px;
            background: rgba(153, 226, 208, 1);
            padding: 10px;
            border-radius: 2px;
            color: rgba(0, 135, 102, 1);
        }

        & img {
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        & a {
            text-decoration: none;
        }

        &--card-contenu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            color: black;
            padding: 0px 30px 10px 30px;
            height: 80px;

            &--text-card {
                display: flex;
                flex-direction: column;
            }
        
            & h3, p {
                margin-top: 9px;
                margin-bottom: 9px;
            }
        }
        &--card-contenu-nouveau {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            color: black;
            padding: 0px 30px 10px 30px;
            height: 80px;

            &--text-card {
                display: flex;
                flex-direction: column;
            }
        
            & h3, p {
                margin-top: 9px;
                margin-bottom: 9px;
            }
        }
       
    }
}

.fa-solid.fa-heart{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.fa-heart {
    font-size: xx-large;
}

.footer {
    background-color: rgba(53, 53, 53, 1);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

            &__list {
                color: white;
                list-style-type: none;
                padding: 0px;

                & a {
                    text-decoration: none;     
                }

                &--liens-gras {
                    font-weight: bolder;
                }
                
                & a:visited {
                    color: white;
                    }

                & i {
                    padding-right: 5px;
                    width: 25px;
                    height: 16px;
                }
                
                & li {
                    padding-top: 9px; 
                } 
             }     
}

@media (min-width: 1440px) {

    .header {
        box-shadow: none;
    }

    .location {
        box-shadow: none;
    }

    .intro {
        padding-bottom: 35px;
    

        & h1 {
            font-size: 3vw;
            padding-bottom: 15px;
            margin-top: 0;
        }

        & p {
            font-size: 1.5vw;
            font-weight: 300;
        }
    }

    .bouton {
        font-size: 1.5vw;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .filtres {
        align-items: center;
        padding-bottom: 35px;

        & h1 {
            width: 68%;
        }
    }

    .boutons-filtres {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .cards-bouton {

        &__choix {
            font-size: 16px;
            font-weight: bold;
        }

        &__fonctionnement-number {
            padding: 5px 10px 5px 10px;
    }
    }

    .espace-resto {
        align-items: center;

        & h2 {
        width: 78%;
    }
    }

    .resto-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;

        &__bouton-resto {
            width: 40%;

            &--text-nouveau {
                display: inline;
                position: relative;
                right: -78%;
                top: -55%;
            }

            &--card-contenu-nouveau {
                margin-top: -15px;
            }
        }
    }

    .footer {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;

        & li {
            display: inline;
            padding-left: 15px;
        }
    }
}